# 1118014 - Mikhael Adriel - Conditional Probability

In [17]:
import pandas as pd
import numpy as np
students = pd.read_csv('student-mat.csv')
df = pd.read_csv('student-mat.csv')
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

File dataset student-mat.csv dimasukkan ke dalam variable students dan df.
Menampilkan 3 baris data pertama dari file dataset student-mat.csv

In [18]:
len(df)

395

fungsi len(dataset) untuk menampilkan banyak baris (variabel) dalam suatu dataset.

In [19]:
df['grade_A'] = np.where(students['G3']*5 >= 80, 1, 0)

np.where(Condition, True Value, False Value)
Memasukkan kolom baru yang bernama grade_A ke variable df untuk menghitung siswa yang mempunyai nilai akhir lebih dari 80.Jika nilai akhir siswa lebih dari atau sama dengan 80 akan diberi nilai 1.Jika nilai akhir siswa kurang dari dari 80 maka akan diberi nilai 0.

In [20]:
df['high_absences']=np.where(students['absences'] >= 10, 1, 0)

Memasukkan kolom baru yang bernama high_absences ke variable df untuk menghitung siswa yang terlambat lebih dari 10 kali. Jika siswa terlambat lebih dari atau sama dengan 10 akan diberi nilai 1. Jika siswa siswa terlambat kurang dari dari 10 maka akan diberi nilai 0.

In [21]:
df['count'] = 1

Memasukkan kolom baru dengan nama count yang setiap barisnya berisi nilai 1.

In [22]:
df_new=df[['grade_A', 'high_absences','count']]
df_new.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

Memasukkan kolom grade_A, high_absences, count yang sudah dibuat dari variable df ke dalam variable df_new. Lalu menampilkan data dari variable df_new.

In [25]:
pd.pivot_table(
    df_new,
    values='count',
    index=['grade_A'],
    columns=['high_absences'],
    aggfunc=np.size,
    fill_value=0
)

high_absences    0   1
grade_A
0              277  78
1               35   5

Fungsi untuk menampilkan pivot table --> pd.pivot_table(dataset, values, index, column, aggfunc, fill_value). values -> untuk menampilkan value baru. fill_value -> untuk menghilangkan nilai Nan

In [26]:
total = 35+5+277+78

### P(A)

In [30]:
pa = (35+5)/total 
pa

0.10126582278481013

P(A) adalah probabilitas siswa yang memiliki nilai 80 atau lebih.

### P(B)

In [31]:
pb = (78+5)/total
pb

0.21012658227848102

P(B) adalah probabilitas siswa yang terlambat lebih dari 10 kali.

### P(A And B)

In [32]:
pAandB= 5/total
pAandB

0.012658227848101266

P(A dan B) adalah probabilitas siswa yang memiliki nilai 80 atau lebih & yang terlambat lebih dari 10 kali (irisan).

### P(A|B)

In [33]:
pAB = pAandB/pB
pAB

0.060240963855421686

P(A|B) adalah probabilitas siswa yang memiliki nilai 80 atau lebih jika sering terlambat lebih dari 10 kali.

### Kesimpulan

Probabilitas siswa yang mencapai nilai 80% atau lebih diketahui siswa yang tidak menghadiri kelas 10 kali atau lebih adalah 0.060240963855421686. Ada kemungkinan bahwa mereka lupa untuk memberikan surat izin ke guru yang bersangkutan, sehingga absensi lebih dari 10